.cards {
    background-color: red;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: scale(0.5);

    .card {
    }
}

.isActive {
  background-color: green;
}
